<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Scrolling Nav - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Start Bootstrap</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
   <section id="intro" class="intro-section">
        <div class="container">
            <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="https://t1.daumcdn.net/thumb/R1280x0/?fname=http://t1.daumcdn.net/brunch/service/user/2Xj/image/a83ZQWKa_spPZjF4B6EqUdsFL24" alt="">
                </a>
                <h3>
                    <a href="#">여행</a>
                </h3>
                <p>여행은 YOLO족의 특권!!</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://img.insight.co.kr/upload/2014/12/15/ART141215120416.jpg" alt="">
                </a>
                <h3>
                    <a href="#">공부</a>
                </h3>
                <p>자신이 하고 싶은 공부는 스스로 찾아서!!</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://image.hankookilbo.com/i.aspx?Guid=edaa93118f8147d5967202b568cff26d&Month=201612&size=640" alt="">
                </a>
                <h3>
                    <a href="#">사랑</a>
                </h3>
                <P>사랑을 통해 자신이 살아있음을 느끼는 욜로</P>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://pub.chosun.com/editor/cheditor_new/attach/IE1KGC6OQPOPFN5JCWIB.jpg" alt="">
                </a>
                <h3>
                    <a href="#">운동</a>
                </h3>
                <p>운동과 함께하는 건강한 욜로족.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://young.hyundai.com/upload/oldUnvs/uploadFiles/STR/_G0rXAMERpWuQ6VSyMOwh.jpg" alt="">
                </a>
                <h3>
                    <a href="#">취미</a>
                </h3>
                <p>자신이 하고싶은 취미는 특권중 특권</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://cfile211.uf.daum.net/image/254CCF4D527B45491AF41C" alt="">
                </a>
                <h3>
                    <a href="#">자유로움</a>
                </h3>
                <p>내가 하고싶은것 내가 할수있는 것을 사랑하고 찾아나가는 것</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img src="http://www.venchitotampon.com/wp-content/uploads/2016/11/YOLO.png"></img><br>
                  <h4><b>'You Only Live Once'의 약자.</b>
<p>
YOLO는 영미권 웹에서 You Only Live Once의 약자로 통하는 외국식 은어다.
의역하면 "인생은 한 번 뿐이다"라는, 한국에서는 마치 카르페 디엠과 같이 멋있어보이는 뜻인 줄 알고 R=VD와 함께 중고등학생부터
대학생까지의 젊은 층에서, 심지어는 언론이나 교회 칼럼에서까지하나님... 신나게 오용되는 말이다.

사실 객기부리다 큰 사고로 이어지는 이런저런 일들이 워낙 많아서 영미권에서는 중2병 정도의 비웃음을 사는 밈이 되어 이미 유행이
지난 말이 되어 가던 중 2017년 대한민국에서는 "욜로"로 음차되면서 각종 마케팅, 미디어 등에서 널리 쓰이기 시작했다. 

YOLO하면 떠오르는 이미지를 정확히 보여주는 예로는 리로이 젠킨스나 영화 잭애스가 있다. YOLO를 실행하다가 목숨을 잃으면 
다윈상 수상자도 될 수 있다. Suicide Silence의 곡으로 You Only Live Once가 있다. 

The Lonely Island의 곡 중 YOLO라는 곡은 이 원 의미를 완전히 반대로 뒤집어 놓은 내용으로, "한 번 뿐인
인생인데 안 죽고 오래오래 살겠다"는 내용이다.

무한도전에도 이와 관련된 특집을 방영했다. </h4>  </p>
                    <h1>About Section</h1>
                </div>
                
            </div>
        </div>
        
    </section>

    <!-- Services Section -->
    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
                    <p style="float:right;"><%= image_tag @yolo_play %> 
                    </p>
                    <H2>우리가 지금 부터 시작할 YOLO</H2>
                    <BR><BR><BR>
<button class="btn btn-default" type="submit">Button</button>
                </div>
                
                <div class="col-lg-12">
                </div>
                    <h1>YOLO GAME!</h1>
                    
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Contact Section</h1>
                </div>
                
                
            </div>
        </div>
    </section>

</body>

</html>